/* style.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

header {
    background: #ffcc00;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom: 5px solid #f5a623;
}

h1 {
    font-size: 2.5em;
    letter-spacing: 2px;
}

#introduction {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#introduction .content {
    width: 60%;
}

#introduction .image-container {
    width: 35%;
    text-align: center;
}

#introduction img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

#interactive-section {
    text-align: center;
    margin-top: 30px;
}

button {
    background-color: #ffcc00;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #ff9900;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
